#title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    line-height: 38px;
    background: -webkit-linear-gradient(#999, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    margin: 10px 15px;
    width: 370px;
    padding: 0
}

.name-text {
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;

    vertical-align: middle
}

.place-guide-text {
    margin: 5px 0;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}

.guide-text {
    margin: 0 20px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}

.id-text {
    margin: 10px 15px;
}

.game-status-container {
    text-align: center;
}

#player-name-input {
    display: inline-block;
    width: 180px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    padding: 2px 4px;
    margin: 0 5px;
    vertical-align: middle
}

.grid-title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #555;
    margin: 30px 0 10px 20px;
}

.status-text {
    font-size: 30px;
    line-height: 30px;
    color: #3a85ff;
    margin: 20px 0;
}

#game-board {
    display: inline-block;
    width: 370px;
    margin: 0;
    vertical-align: top;
    justify-content: center;
}

#game-board .grid {
    display: inline-block;
    background-color: #276bd8;
    font-size: 0;
    width: 330px;
    border: 1px solid white;
    margin: 0 20px
}

#game-board .grid .space {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: 1px solid white;
    vertical-align: top;
    text-align: center
}

#game-board .grid .space .label {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 28px
}

#game-board .grid .space .marker {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 6px;
    background-color: none
}

#game-board .grid .space .miss {
    background-color: white
}

#game-board .grid .space .hit {
    background-color: red;
    border: 2px solid red
}

#game-board .grid .ship-space {
    background-color: #555
}

.control-window {
    display: block;
    width: 400px;
    margin: 0 0 0 20px;
}

.menu-container {
    display: block;
    margin: 20px 0 0 0
}

.disabled {
    background-color: #555 !important;
    color: black !important
}

.ship-placement-container {
    display: block;
    margin: 20px 0 0 0
}

.ship-label-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: black;
    margin: 0 0 20px 0
}

#ship-label span {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    height: 24px;
    background-color: #555;
    max-width: 200px;
    color: white;
    border-radius: 10px;
    vertical-align: bottom;
    text-align: center
}

#ship-label #place-Carrier {
    width: 200px
}

#ship-label #place-Battleship {
    width: 160px
}

#ship-label #place-Cruiser {
    width: 120px
}

#ship-label #place-Submarine {
    width: 120px
}

#ship-label #place-Destroyer {
    width: 80px
}

#horizontal-label {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    vertical-align: middle
}

#vertical-label {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    vertical-align: middle
}

#orientation-toggle {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    vertical-align: middle;
    margin: 5px
}

#orientation-toggle #orientation-indicator {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #555;
    margin-top: -2px
}

#orientation-toggle .vertical {
    margin-left: 16px
}

#location-text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
    vertical-align: middle
}

#game-id {
    display: inline-block;
    width: 120px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    padding: 2px 4px;
    margin: 0 5px;
    vertical-align: middle
}

.placement-button {
    display: inline-block;
    height: 28px;
    background-color: #3a85ff;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    vertical-align: middle;
    border: none;
    border-radius: 4px;
    margin: 10px 10px
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #3a85ff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
}
